
<header class="header header--bg" id="Selnavbar"   >

    <div class="container">

      <div class="header__content text-center">
        <span class="header__content__block">BIENVENIDO</span>
        <h1 class="header__content__title"> <span >HOLA SOY</span> LUIS ALFONSO HUILA H.</h1>

      </div>
      <div class="social-icon pull-right">
        <ul  class="social-icon-ul">
          <li class="social-icon-il">

            <p class="parrafo">
              <img class="imgs" src="assets/icons/frontend.png">DESARROLLADOR FRONTEND</p></li>
          <li class="social-icon-il">

            <p class="parrafo">
              <img class="imgs" src="assets/icons/backend.png">
              DESARROLLADOR BACKEND</p></li>
          <li class="social-icon-il">

            <p class="parrafo">
              <img class="imgs" src="assets/icons/full-stack.png">
              DESARROLLADOR FULL STACK</p></li>

        </ul>
      </div>
    </div>
  </header>

