<section class="perfil" id="SelPerfil">
    <div class="pimg">
        <p class="titulos">PERFIL</p>
        <img _ngcontent-lbi-c108="" src="assets/images/title-style.png" alt="" class="page-section__title-style">
    </div>
    <app-midatos></app-midatos>
</section>

<section class="contenedo" id="SelProyect">

    <p class="titulo">MI PROYECTOS</p>

    <app-proyect></app-proyect>
</section>

<section class="section" id="SelHabilidades">
    <div class="pimg">
        <p class="titulos ">HABILIDADES</p>
        <img _ngcontent-lbi-c108="" src="assets/images/title-style.png" alt="" class="page-section__title-style">
    </div>
    <app-iconos></app-iconos>
</section>



<div class="imgs" id="SelPasatiempo">

    <section class="galery">

        <p class="titulo">PASATIEMPO</p>

        <app-viajes></app-viajes>
    </section>
</div>

<section class="perfil" id="EXPERIENCIA">
  <div class="pimg">
      <p class="titulos">EXPERIENCIA</p>
      <img _ngcontent-lbi-c108="" src="assets/images/title-style.png" alt="" class="page-section__title-style">
  </div>
  <app-experiencia></app-experiencia>
</section>


<section class="formul" id="SelFormu">
    <div class="pimg">
        <p class="titulos ">FORMULARIO</p>
        <img src="assets/images/title-style.png" alt="" class="page-section__title-style">
    </div>

    <div class="formu">

        <app-form></app-form>
    </div>

</section>
